{% extends 'site/index.html' %}

{% block content %}
    <h2>{{ model.title }}</h2>
    <small>{{ model.created_at }}</small>
    <p>
        {{ model.content }}
    </p>

    <p><strong>Comment ({{ model.comment_set.count }}): </strong></p>

    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if not field.is_hidden %}
                {{ field.errors }}
            {% endif %}
            {{ field }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    
    {% if model.comment_set.count == 0 %}
        <p>Belum ada yang komen coy(ubah inggris)</p>
    {% else %}
        <ul>
            {% for comment in model.comment_set.all %}
                <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>    
    {% endif %}
{% endblock content %}